body {
	font-family: Verdana, Arial, sans-serif;
	background-color: #545151;
}

header {
	height: 150px;
	background-color: #a00909;
	background-image: url(mwslogo.gif);
	background-position: center;
	background-repeat: no-repeat;
}

nav {
	text-align: center;
	background-color:#666666;
	border-bottom: 1px Solid #000000;
}

nav ul {
	list-style-type: none; 
	display: flex;
	justify-content: space-evenly;
	padding: 0;
    margin: 0;
	text-align: center;
}
	
nav li {
	width: 100%;
	border: 1px solid #000000;
}

nav a {
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
	display: block;
}

h1, h2, h3 {
	color: #a00909;
	text-align: center;
	font-weight: bold;
	padding-top: 1em;
}

/* modified */
p, .indexPageList, .address {
	padding-left: 4em;
	padding-right: 4em;
}

footer {
	background-color: #a00909;
	font-size: 80%;
	text-align: center;
	border-top: 1px solid #000000;
	color: #ffffff;
	padding: 1em
}

footer a {
	color: #ffffff;
}

#wrapper {
	background-color: #ffffff;
	max-width: 1480px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border: 1px solid #000000;	
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 4em;
	margin-right: 4em;
	flex-wrap: wrap;
}	

.box {
	margin: 2em;
	width: 280px;
	height: 380px;
	border: 1px solid #000000;
	background-color: #c2c2c2;
}

.bottom {
	position: relative;
	bottom: 2em;
	padding: 1em;
	vertical-align: bottom;
}

.clearpadding {
	padding: 1em;
}

.brand {
	font-style: italic;
}

/* added */
hr {
	margin: 2em 4em;
}

#mobile {display: none; }
#desktop {display: inline; }
	
/* Media Query For Mobile Styles*/
@media only all and (max-width: 768px) {

	#wrapper {
		padding: 10px -10px;
	}

	nav ul {
		flex-direction: column;
	}

	.flex-container {
		flex-direction: column;
		margin-left: 1em;
		margin-right: 1em;
		padding-left: 0;
		padding-right: 0;
	}

	.box {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
	}

	/* modified */
	p, .indexPageList, .address {
		padding-left: 1em;
		padding-right: 1em;
	}

	/* added */
	hr {
		margin: 2em 1em;
	}
	
	#mobile {display: inline; }
	#desktop {display: none; }	
}



